/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* tablets */
@media (max-width: 991px) {
.sp-container h2 {
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 90px;
	margin-top: -50px;
	font-size: 90px;
	width: 100%;
	text-align: center;
	color: transparent;
	}
.sp-content {
	position: fixed;
	width: 50%;
	height: 50%;
	left: 0px;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {

.sp-container h2 {
	position: absolute;
	line-height: 20px;
	width: 100%;
	text-align: center;
	color: transparent;
	}
}

/* mobile or only mobile */
@media (max-width: 767px) {
 
 .sp-container {
 margin-top:0px;
 top:50%;
 
 }
 
.sp-container h2 {
	position: absolute;
	width: 50%;
	text-align: center;
	color: transparent;
  }
}
